#
# Modules
#

# 正常なzsh組み込み環境オプションを設定
zmodule environment

# 入力イベントに対して正しいバインドキーを適用
zmodule input

# カスタム端末のタイトルを設定
zmodule termtitle
zstyle ':zim:termtitle' format '%m: %~'


# ユーティリティのエイリアスや関数。ls, grep, lessに色をつける
zmodule utility

# 圧縮/解凍のユーティリティ
# $ archive   myarchive.tar.gz /path/to/be/archived
# $ unarchive myarchive.tar.gz
# $ lsarchive myarchive.tar.gz
# https://github.com/zimfw/archive
zmodule archive

#
# Prompt
#

# gitの情報をプロンプトに表示
zmodule git-info

# テーマ設定
zmodule $DOTFILES/modules/zsh/eriner

#
# Completion
#

# zshの補完定義を追加
zmodule zsh-users/zsh-completions --fpath src
if [[ -d /opt/homebrew/share/zsh/site-functions ]] && [ "$(uname -m)" = "arm64" ]; then
  # arm
  zmodule /opt/homebrew/share/zsh/site-functions --fpath .
elif [[ -d /usr/local/share/zsh/site-functions ]] && [ "$(uname -m)" = "x86_64" ]; then
  # x86_64
  zmodule /usr/local/share/zsh/site-functions --fpath .
fi

# スマートで広範囲なタブ補完を設定
# completionモジュールは補完定義を追加するすべてのモジュールの後に読み込む必要がある
zmodule completion

#
# Modules that must be initialized last
#

# fishのようなシンタックスハイライト
# completionモジュールの後に読み込む必要がある
zmodule zsh-users/zsh-syntax-highlighting

# fishのような履歴検索
# zsh-users/zsh-syntax-highlightingの後に読み込む必要がある
zmodule zsh-users/zsh-history-substring-search

# fishのようなオートサジェスト
zmodule zsh-users/zsh-autosuggestions

zmodule azu/ni.zsh --source ni.zsh
